 <div id="page-wrap">
    <h1>Hive Go</h1>
    <div class="message">
      <div class="timer">
        -:-:-
      </div>
      <div class="voting">
        until next vote count
      </div>
    </div>
    <div id="goban">
    </div>
    <div class="message">
      It's <span id="current-color">???</span><b>'s</b> turn.
      <br />Click to cast your vote as to where the stone should go.
    </div>
    <div id="comments">
      Top Comments:
      <div id="top">
      </div>
      Recent Comments:
      <div id="recent">
      </div>
    </div>
    <div id="footer">
      <a href="http://mindsforge.com">Minds Forge Labs</a>
    </div>
  </div>
