 <div id="page-wrap">
    <h1>Hive Go</h1>
    <div class="message">
      05 hours 32 minutes 11 seconds
    </div>
    <div id="goban">
    </div>
    <div class="message">
      It's <strong>Black's</strong> turn. Click to cast your vote as to where the stone should go.
    </div>
    <div id="comments">
      Top Comments:
      <div id="top">
      </div>
      Recent Comments:
      <div id="recent">
      </div>
    </div>
    <hr/>
    <a href="http://mindsforge.com">Minds Forge Labs</a>
  </div>
