html {
  font-family: 'Chelsea Market', cursive;
  background-color: #EAC185;
  background-image: url('images/purty_wood.png');
}

a {
  color: #005DFF;
}

a:visited {
  color: #004ACC;
}

a:hover {
  text-decoration: none;
  color: #003DA8;
}

h1 {
  font-size: 4em;
  margin: 0px;
}

hr {
  border-style: solid none;
  width: 70%;
}

#page-wrap {
  width: 800px;
  border-style: none solid;
  padding: 0px 20px;
  margin: 40px auto;
}

  #page-wrap #navlist li {
    display: inline;
    padding-right: 20px;
  }

  #page-wrap nav {
    text-align: center;
  }

  #page-wrap .message {
    width: 70%;
    border-style: none none solid;
    border-width: 2px;
    text-align: center;
    font-size: 1.6em;
    padding: 40px 0px 10px;
    margin: 20px auto;
  }
  
    #page-wrap .message .timer {
      font-size: 2em;
    }

    #page-wrap .message #current-color {
      font-weight: bold;
    }

  #page-wrap #goban {
    width: 500px;
    height: 570px;
    margin: 10px auto;
  }

  #page-wrap .info {
    width: 80%;
    border-style: solid none;
    border-width: 2px;
    padding: 10px;
    margin: 10px auto;
  }

    #page-wrap .info #text_entry {
      width: 510px;
      margin: 0px;
    }

    #page-wrap .info #name {
      width: 100px;
      margin: 0 1px 0 3px;
    }

    #page-wrap .info #chatbox {
      background-color: #E09110;
      width: 620px;
      height: 120px;
      padding: 6px;
      margin: 3px auto;
      overflow: auto;
    }

    #page-wrap .info .twitter-follow-button {
      position: relative;
      top: 4px;
    }
