html {
  font-family: 'Chelsea Market', cursive;
  background-image: url('purty_wood.png');
}

a {
  color: #005DFF;
}

a:visited {
  color: #004ACC;
}

h1 {
  font-size: 4em;
}

hr {
  border-style: dotted;
}

#page-wrap {
  width: 800px;
  margin: 20px auto;
}

  #page-wrap #goban {
    width: 500px;
    height: 500px;
    margin: 10px auto;
  }
