 <div id="page-wrap">
    <div class="message">
      It's <span id="current-color">???</span><b>'s</b> turn.
      <div class="timer">
        --:--:--
      </div>
    </div>

    <div id="goban">
    </div>
    
    <nav>
      <ul id="navlist">
        <li><a href="http://www.usgo.org/resources/rulesofgo.html">The Rules of Go</a></li>
        <li><a href="http://hivego.info">Hive Go Short Round</a></li>
        <li>Hive Go Long Round</li>
        <li><a href="/sgf/game.sgf">Download SGF</a></li>
      </ul>
    </nav>

    <div class="info">

      <div id="chatbox"><i>Welcome! Click somewhere to vote, the numbers are current votes. This is a chat!</i><br /></div>
      <input id="name" type="text" maxlength="13" />:
      <input id="text_entry" type="text" maxlength="140" />

      <p>
        <a href="https://twitter.com/HiveGo" class="twitter-follow-button" data-show-count="false">Follow @HiveGo</a>
        to get announcements, I also check for feedback there!</p>
        <p>Play a hive game of go. You click to vote for a move (the numbers represent votes) and the highest voted move gets placed at the end of the countdown.
        </p>
        <p>
          <a href="http://insei-league.com/">Insei League on KGS</a> | 
          <a href="http://breakfast.go4go.net/">Go lessons</a> | 
          <a href="http://gosensations.com/">Go servers news</a>
        </p>
    </div>

    <!-- Lockerz Share BEGIN -->
    <div class="a2a_kit a2a_default_style">
    <a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
    <span class="a2a_divider"></span>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_tumblr"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_identi_ca"></a>
    <a class="a2a_button_email"></a>
    </div>
    <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
    <!-- Lockerz Share END -->
